body{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL01LUUHEWI2I9DpQGg_408Ysouh15Zzf48w&usqp=CAU");
   background-repeat: no-repeat;
   background-size: 100%;
   align-content: center;
   justify-content: center;
   margin-top: 100px;
}